<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijob-component/hijob-component.html">
<link rel="import" href="../hijoc-component/hijoc-component.html">

<dom-module id="padrea-component">
  <template>
    <style>
      :host {
        display: block;
      }

      section {
        display: flex;
        flex-direction: column;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>

    <template is="dom-if" if="[[principal]]">
      <label>What is Lorem Ipsum?</label>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </template>

    <paper-button id="btn1" on-click="clicked" >[[buttonName1]]</paper-button>
    <paper-button id="btn2" on-click="clicked" >[[buttonName2]]</paper-button>

    <template is="dom-if" if="[[firstsection]]">
      <hijob-component></hijob-component>  
    </template>
    
    <template is="dom-if" if="[[secondsection]]">
      <hijoc-component></hijoc-component>  
    </template>
    
  </template>

  <script>
    /**
     * `padrea-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreaComponent extends Polymer.Element {
      static get is() { return 'padrea-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padrea-component'
          },
          principal:{
            type:Boolean,
            value:true
          },

          firstsection:{
            type:Boolean,
            value:false
          },
          secondsection:{
            type:Boolean,
            value:false
          },

          buttonName1:{
            type:String,
            value:'Boton1'
          },
          buttonName2:{
            type:String,
            value:'Boton2'
          },

          btn:{
            type:Boolean,
            value:true
          },

          listeners:{
            "namechanged":"clicked",
            "click":"clicked"
          }
        };
      }

      clicked(e){
        let idBtn = e.target.id;
        if(idBtn == 'btn1'){
            this.principal = false;
            this.firstsection = true;
            this.secondsection = false;
          }else{
            this.principal = false;
            this.firstsection = false;
            this.secondsection = true;
          } 
      }

      visible(e){

          let idBtn = e.path[2].id;

          if(idBtn == 'btn1'){
            this.principal = false;
            this.firstsection = true;
            this.secondsection = false;
          }else{
            this.principal = false;
            this.firstsection = false;
            this.secondsection = true;
          }   
      }
    }

    window.customElements.define(PadreaComponent.is, PadreaComponent);
  </script>
</dom-module>
